@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/forms";

@font-face {
    font-family: Plus Jakarta Sans ;
    src: url("../src/font/PlusJakartaSans-Regular.ttf");
}

@theme {
  --font-jakarta: Plus Jakarta Sans, "sans-serif";
  --animate-bounce-slow: bounce-slow 3s infinite;

  @keyframes bounce-slow {
    0%, 100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
@layer base {
  html, body {
    overscroll-behavior: none;
  }
  
  button:focus, 
  a:focus,
  select:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  input:not([type="checkbox"]):not([type="radio"]), 
  textarea, 
  select {
    @apply bg-[#001f42] text-white border-transparent placeholder:text-sky-200/50 focus:ring-2 focus:ring-sky-500 !important;
  }

  /* Specific fix for inputs with icons */
  input, textarea, select {
    color: white !important;
  }

  /* Global select reset for custom icons */
  select {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: none !important;
  }
  select::-ms-expand {
    display: none !important;
  }
}
